* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-left: 250px;
    margin-right: 50px;
}

.header_icons {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 33px;
    padding-right: 250px;
    margin-left: 800px;
}

.navigation {
    display: inline-block;
    position: relative;
}

.navigation:hover .list_of_menu {
    display: block;
}

.menu:hover {
    fill: #F16D7F;
}

.list_of_menu {
    padding-top: 10px;
    margin-top: 28px;
    display: none;
    position: absolute;
    background-color: white;
    width: 232px;
    height: 480px;
    z-index: 1;
}

.menu_header_list {
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    list-style: none;
    margin-bottom: 20px;
}

.menu_list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    list-style: none;
    margin-bottom: 10px;
}

.account:hover {
    fill: #F16D7F;
}

.bag:hover {
    fill: #F16D7F;
}

.brand_img_decor {
    display: grid;
    grid-template-columns: 800px 800px;
    justify-content: center;
}

.brand_grid {
    background: #F1E4E6;
}

.brand_img {
    height: 764px;
}

.decor_line {
    text-align: left;
    padding-top: 250px;
    position: relative;
}

.brand_head {
    text-align: left;
    margin-top: -95px;
    margin-left: 20px;
    position: absolute;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    color: #222222;
    text-transform: uppercase;
}

.of_luxerious_fasion {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.fasion {
    color: #F16D7F;
}

.types_products {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: center;
    gap: 30px;
}

.for_women_link {
    text-decoration: none;
}

.for_women_texts {
    position: relative;
    width: 154px;
    height: 50px;
    margin-top: -155px;
    margin-left: 103px;
    text-align: center;
}

.for_women_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.for_women_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.for_men_link {
    text-decoration: none;
}

.for_men_texts {
    position: relative;
    width: 154px;
    height: 50px;
    margin-top: -155px;
    margin-left: 103px;
    text-align: center;
}

.for_men_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.for_men_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.for_kids_link {
    text-decoration: none;
}

.for_kids_texts {
    position: relative;
    width: 154px;
    height: 50px;
    margin-top: -155px;
    margin-left: 103px;
    text-align: center;
}

.for_kids_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.for_kids_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.accesories {
    text-align: center;
    margin-top: 100px;
}

.accesories_link {
    text-decoration: none;
}

.accesories_texts {
    position: relative;
    width: 170px;
    height: 50px;
    margin-top: -115px;
    margin-left: 485px;
}

.accesories_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.accesories_text2 {
    text-align: center;
}

.accesories_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.header_items {
    text-align: center;
    margin-top: 156px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.text_items {
    text-align: center;
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.items {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    margin-top: 48px;
    justify-content: center;
}

.item {
    height: 581px;
}

.description1 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description1 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
}

.text_description1 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.price1 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.item2_img {
    background: #F7E4E2;
    height: 420px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description2 {
    background: #F8F8F8;
    height: 161px;
}

.header_description2 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
}

.text_description2 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.price2 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.description3 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description3 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
}

.text_description3 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.price3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.description4 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description4 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
}

.text_description4 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.price4 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.description5 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description5 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
}

.text_description5 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.price5 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.description6 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description6 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-left: 18px;
}

.text_description6 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.price6 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
}

.all_product {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    margin-top: 48.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.all_product:hover {
    background-color: #F16D7F;
}

.text_all_product {
    padding-top: 14.5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.main_bottom_block {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    justify-content: center;
    background-color: #222224;
    height: 341px;
}

.cargo_block {
    text-align: center;
}

.cargo {
    padding-top: 103px;
}

.header_cargo {
    margin-top: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.text_cargo {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.percent_block {
    text-align: center;
}

.percent {
    padding-top: 104px;
}

.header_percent {
    margin-top: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.text_percent {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.corona_block {
    text-align: center;
}

.corona {
    padding-top: 103px;
}

.header_corona {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.text_corona {
    margin-top: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.back_img {
    position: relative;
    width: 100%;
}

.down_grid {
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 300px;
}

.face {
    text-align: center;
    position: absolute;
    top: 3300px;
    left: 200px;
}

.text_face {
    width: 360px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.email {
    text-align: center;
    position: absolute;
    top: 3350px;
    left: 700px;
}

.header_email {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
}

.text_email {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #222224;
}

.form_email {
    margin-top: 20px;
    max-width: 349px;
}

.email_subscribe {
    display: flex;
    justify-content: center;
    min-height: 49px;
}

.enter_email {
    padding-left: 22px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
}

.button_subscribe {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E05C6E;
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
}

.button_subscribe:hover {
    background-color: white;
    color: #E05C6E;
}

.button_subscribe:active {
    background-color: #F16D7F;
    color: white;
}

.footer {
    display: flex;
    height: 79px;
    background-color: #222224;
    margin-top: -4px;
}

.text_footer {
    padding-top: 30px;
    padding-left: 150px;
    margin-right: 400px;
    width: 332px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.logos_links {
    display: flex;
    justify-content: center;
    gap: 7px;
    list-style: none;
    margin-top: 24px;
}

.back_f:hover {
    fill: #F16D7F;
}

.back_i:hover {
    fill: #F16D7F;
}

.back_p:hover {
    fill: #F16D7F;
}

.back_t:hover {
    fill: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        padding-left: 150px;
        margin-right: 50px;
    }
    
    .header_icons {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 33px;
        padding-right: 150px;
        margin-left: 400px;
    }
    
    .brand_img_decor {
        display: grid;
        grid-template-columns: 384px 384px;
        justify-content: center;
    }

    .brand_grid {
        background: #F1E4E6;
    }

    .brand_img {
        height: 300px;
    }

    .decor_line {
        text-align: left;
        padding-top: 100px;
        position: relative;
    }
    
    .brand_head {
        text-align: left;
        margin-top: -90px;
        margin-left: 20px;
        position: absolute;
    }

    .types_products {
        padding-top: 65px;
        display: grid;
        grid-template-columns: 232px 232px 232px;
        justify-content: center;
        gap: 19px;
    }

    .womenimg {
        height: 167px;
    }

    .menimg {
        height: 167px;
    }

    .kidsimg {
        height: 167px;
    }

    .accesimg {
        height: 116px;
    }

    .for_women_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -115px;
        margin-left: 40px;
        text-align: center;
    }
    
    .for_women_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_women_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .for_men_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -115px;
        margin-left: 40px;
        text-align: center;
    }
    
    .for_men_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_men_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .for_kids_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -115px;
        margin-left: 40px;
        text-align: center;
    }
    
    .for_kids_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_kids_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .accesories {
        text-align: center;
        margin-top: 60px;
    }
    
    .accesories_texts {
        position: relative;
        width: 170px;
        height: 50px;
        margin-top: -90px;
        margin-left: 290px;
    }
    
    .accesories_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .accesories_text2 {
        text-align: center;
    }
    
    .accesories_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }

    .items {
        display: grid;
        grid-template-columns: 360px 360px;
        gap: 30px;
        margin-top: 48px;
        justify-content: center;
    }

    .main_bottom_block {
        display: grid;
        grid-template-columns: 360px;
        gap: 30px;
        justify-content: center;
        background-color: #222224;
        height: 900px;
    }

    .down_grid {
        display: grid;
        grid-template-columns: 360px;
        gap: 300px;
    }

    .back_img {
        position: relative;
        width: 100%;
        height: 693px;
    }

    .face {
        text-align: center;
        position: absolute;
        top: 3900px;
        left: 230px;
    }

    .email {
        text-align: center;
        position: absolute;
        top: 4300px;
        left: 240px;
    }
    
    .header_email {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
    }
    
    .text_email {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #222224;
    }
    
    .form_email {
        margin-top: 20px;
    }

    .footer {
        display: flex;
        height: 79px;
        background-color: #222224;
        margin-top: -4px;
    }
    
    .text_footer {
        padding-top: 30px;
        padding-left: 70px;
        margin-right: 200px;
        width: 332px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    
    .logos_links {
        display: flex;
        justify-content: center;
        gap: 7px;
        list-style: none;
        margin-top: 24px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo {
        margin-left: 100px;
    }
    
    .header_icons {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 33px;
        padding-right: 350px;
        margin-left: 200px;
    }
    
    .brand_img_decor {
        display: grid;
        grid-template-columns: 375px;
        grid-template-rows: 360px;
        justify-content: center;
    }

    .brand_grid {
        background: #F1E4E6;
    }

    .brand_img {
        height: 0px;
    }

    .brand_decor {
        margin-top: -235px;
        position: relative;
    }

    .decor_line {
        text-align: left;
        padding-top: 0px;
        position: relative;
        padding-left: 40px;
    }
    
    .brand_head {
        text-align: left;
        margin-top: -90px;
        margin-left: 70px;
        position: absolute;
    }

    .types_products {
        padding-top: 65px;
        display: grid;
        grid-template-columns: 343px;
        justify-content: center;
        gap: 130px;
    }

    .womenimg {
        height: 247px;
    }

    .menimg {
        height: 247px;
    }

    .kidsimg {
        height: 247px;
    }

    .accesimg {
        height: 111px;
    }

    .for_women_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -155px;
        margin-left: 80px;
        text-align: center;
    }
    
    .for_women_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_women_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .for_men_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -155px;
        margin-left: 90px;
        text-align: center;
    }
    
    .for_men_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_men_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .for_kids_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -155px;
        margin-left: 90px;
        text-align: center;
    }
    
    .for_kids_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_kids_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .accesories {
        text-align: center;
        margin-top: 0px;
    }

    .accesimg {
        width: 343px;
    }
    
    .accesories_texts {
        position: relative;
        width: 170px;
        height: 50px;
        margin-top: -90px;
        margin-left: 85px;
    }
    
    .accesories_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .accesories_text2 {
        text-align: center;
    }
    
    .accesories_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }

    .header_items {
        margin-top: 100px;
    }

    .items {
        display: grid;
        grid-template-columns: 360px;
        gap: 30px;
        margin-top: 65px;
        justify-content: center;
    }

    .main_bottom_block {
        display: grid;
        grid-template-columns: 350px;
        gap: 30px;
        justify-content: center;
        background-color: #222224;
        height: 700px;
        width: 100%;
    }
    
    .cargo_block {
        text-align: center;
    }
    
    .cargo {
        padding-top: 25px;
    }
    
    .header_cargo {
        margin-top: 28px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .text_cargo {
        margin-top: 16px;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
    
    .percent_block {
        text-align: center;
    }
    
    .percent {
        padding-top: 25px;
    }
    
    .header_percent {
        margin-top: 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .text_percent {
        margin-top: 16px;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
    
    .corona_block {
        text-align: center;
    }
    
    .corona {
        padding-top: 25px;
    }
    
    .header_corona {
        margin-top: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .text_corona {
        margin-top: 16px;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }

    .down_grid {
        display: grid;
        grid-template-columns: 360px;
        gap: 45px;
    }

    .back_img {
        position: relative;
        width: 100%;
        height: 693px;
    }

    .face {
        text-align: center;
        position: absolute;
        top: 6200px;
        left: 120px;
    }

    .email {
        text-align: center;
        position: absolute;
        top: 6550px;
        left: 120px;
    }
    
    .header_email {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
    }
    
    .text_email {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #222224;
    }
    
    .form_email {
        margin-top: 20px;
    }

    .footer {
        display: flex;
        height: 143px;
        background-color: #222224;
        margin-top: -4px;
        position: relative;
    }
    
    .text_footer {
        position: absolute;
        padding-top: 115px;
        padding-left: 200px;
        margin-right: 300px;
        width: 332px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    
    .logos_links {
        position: absolute;
        top: 15px;
        left: 240px;
        display: flex;
        justify-content: center;
        gap: 7px;
        list-style: none;
        margin-top: 24px;
    }
}