* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.container {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-left: 250px;
    margin-right: 50px;
}

.header_icons {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 33px;
    padding-right: 250px;
    margin-left: 800px;
}

.brand_img_decor {
    display: grid;
    grid-template-columns: 800px 800px;
    justify-content: center;
}

.brand_grid {
    background: #F1E4E6;
}

.brand_img {
    height: 764px;
}

.decor_line {
    text-align: left;
    padding-top: 250px;
    position: relative;
}

.brand_head {
    text-align: left;
    margin-top: -95px;
    margin-left: 20px;
    position: absolute;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    color: #222222;
    text-transform: uppercase;
}

.of_luxerious_fasion {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.fasion {
    color: #F16D7F;
}

.types_products {
    padding-top: 65px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: center;
    gap: 30px;
}

.for_women_link {
    text-decoration: none;
}

.for_women_texts {
    position: relative;
    width: 154px;
    height: 50px;
    margin-top: -155px;
    margin-left: 103px;
    text-align: center;
}

.for_women_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.for_women_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.for_men_link {
    text-decoration: none;
}

.for_men_texts {
    position: relative;
    width: 154px;
    height: 50px;
    margin-top: -155px;
    margin-left: 103px;
    text-align: center;
}

.for_men_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.for_men_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.for_kids_link {
    text-decoration: none;
}

.for_kids_texts {
    position: relative;
    width: 154px;
    height: 50px;
    margin-top: -155px;
    margin-left: 103px;
    text-align: center;
}

.for_kids_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.for_kids_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.accesories {
    text-align: center;
    margin-top: 100px;
}

.accesories_link {
    text-decoration: none;
}

.accesories_texts {
    position: relative;
    width: 170px;
    height: 50px;
    margin-top: -115px;
    margin-left: 485px;
}

.accesories_text_1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
}

.accesories_text2 {
    text-align: center;
}

.accesories_text_2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
}

.header_items {
    text-align: center;
    margin-top: 156px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.text_items {
    text-align: center;
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.items {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    margin-top: 48px;
    justify-content: center;
}

.item {
    height: 581px;
}

.description1 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description1 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_description1 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price1 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.item2_img {
    background: #F7E4E2;
    height: 420px;
}

.img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description2 {
    background: #F8F8F8;
    height: 161px;
}

.header_description2 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_description2 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price2 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.description3 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description3 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_description3 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.description4 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description4 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_description4 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price4 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.description5 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description5 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_description5 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price5 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.description6 {
    background: #F8F8F8;
    margin-top: -4px;
    height: 161px;
}

.header_description6 {
    padding-top: 25px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_description6 {
    margin-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price6 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.all_product {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    margin-top: 48.5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.text_all_product {
    padding-top: 14.5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        padding-left: 150px;
        margin-right: 50px;
    }
    
    .header_icons {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 33px;
        padding-right: 150px;
        margin-left: 400px;
    }
    
    .brand_img_decor {
        display: grid;
        grid-template-columns: 384px 384px;
        justify-content: center;
    }

    .brand_grid {
        background: #F1E4E6;
    }

    .brand_img {
        height: 300px;
    }

    .decor_line {
        text-align: left;
        padding-top: 100px;
        position: relative;
    }
    
    .brand_head {
        text-align: left;
        margin-top: -90px;
        margin-left: 20px;
        position: absolute;
    }

    .types_products {
        padding-top: 65px;
        display: grid;
        grid-template-columns: 232px 232px 232px;
        justify-content: center;
        gap: 19px;
    }

    .womenimg {
        height: 167px;
    }

    .menimg {
        height: 167px;
    }

    .kidsimg {
        height: 167px;
    }

    .accesimg {
        height: 116px;
    }

    .for_women_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -115px;
        margin-left: 40px;
        text-align: center;
    }
    
    .for_women_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_women_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .for_men_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -115px;
        margin-left: 40px;
        text-align: center;
    }
    
    .for_men_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_men_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .for_kids_texts {
        position: relative;
        width: 154px;
        height: 50px;
        margin-top: -115px;
        margin-left: 40px;
        text-align: center;
    }
    
    .for_kids_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .for_kids_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }
    
    .accesories {
        text-align: center;
        margin-top: 60px;
    }
    
    .accesories_texts {
        position: relative;
        width: 170px;
        height: 50px;
        margin-top: -90px;
        margin-left: 290px;
    }
    
    .accesories_text_1 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
    }
    
    .accesories_text2 {
        text-align: center;
    }
    
    .accesories_text_2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #F16D7F;
    }

    .items {
        display: grid;
        grid-template-columns: 360px 360px;
        gap: 30px;
        margin-top: 48px;
        justify-content: center;
    }
}